<style>
body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  width: 10%;
  border-width: 10px;
}

h1 {
  color: red;
}

h1:hover {
  color: gray;
}

img:hover {
  background-color: green;
  border-radius: 100;
}

/*Set CSS by class*/
.nature-img {
  width: auto;
  height: 250px;
}
/*Set CSS by id*/
#contact-id {
  color: green;
}

</style>
